<!DOCTYPE html>
<html>
<head>
  <title>Pairscape</title>
  <script src="http://www.google.com/jsapi?key=ABQIAAAAuPsJpk3MBtDpJ4G8cqBnjRRaGTYH6UMl8mADNa0YKuWNNa8VNxQCzVBXTx2DYyXGsTOxpWhvIG7Djw" type="text/javascript"></script>
  <%= stylesheet_link_tag    "application", :media => "all" %>
      <script type="text/javascript" 
      src="http://localhost:9000/faye.js">
      </script>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
